# Stack

In [ ]:
a = [1,2,3,4,5]
a.append(10)
a.append(20)
a.pop()          # 20
a.pop()          # 10

# 실생활 예시 : 택배 화물차

In [2]:
word = input("Input a word : ")
word_list = list(word)
for _ in range(len(word_list)):
    print(word_list.pop())
    print(word_list)

Input a word : naver
r
['n', 'a', 'v', 'e']
e
['n', 'a', 'v']
v
['n', 'a']
a
['n']
n
[]

# Queue

In [3]:
 a = [1,2,3,4,5]
a.append(10)
a.append(20)

first = a.pop(0)     # 1 출력
first

1

# Tuple

In [4]:
t = (1,2,3)
type(t)

tuple

In [5]:
t + t

(1, 2, 3, 1, 2, 3)

In [6]:
t * 2

(1, 2, 3, 1, 2, 3)

In [7]:
t

(1, 2, 3)

In [ ]:
len(t)

In [9]:
t[1] = 5

TypeError: 'tuple' object does not support item assignment

In [10]:
t = (1)    # 일반 정수로 인식
type(t)

int

In [11]:
t = (1, )     # 값이 하나인 Tuple 은 반드시 "," 를 붙여야 함
type(t)

tuple

# set